<% if session[:id] %>
<div id="sidebar">
<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title">Things to do...</h3>
</div>
<div class="panel-body">
	<p>
      <%= link_to books_path, class: 'btn btn-default col-md-12' do %>
        <span class="pull-left glyphicon glyphicon-list"></span> All Books
      <% end %>
    </p>
    <p>
      <%= link_to authors_path, class: 'btn btn-default col-md-12' do %>
        <span class="pull-left glyphicon glyphicon-user"></span> Authors
      <% end %>
    </p>
<p>
      <%= link_to reservations_path, class: 'btn btn-default col-md-12' do %>
        <span class="pull-left glyphicon glyphicon-th-list"></span> My Reservations
      <% end %>
    </p>
<p>
<% if session[:id] and session[:admin] %>
<p>
        <%= link_to new_book_path, class: 'btn btn-default col-md-12' do %>
          <span class="pull-left glyphicon glyphicon-download-alt"></span> New Book
        <% end %>
      </p>
      <p>
        <%= link_to reservations_path, class: 'btn btn-default col-md-12' do %>
          <span class="pull-left glyphicon glyphicon-download-alt"></span> Overdue Books
        <% end %>
      </p>
       <p>
        <%= link_to users_path, class: 'btn btn-default col-md-12' do %>
          <span class="pull-left glyphicon glyphicon-fire"></span> Manage Users
        <% end %>
      </p>
      <p>
        <%= link_to new_author_path, class: 'btn btn-default col-md-12' do %>
          <span class="pull-left glyphicon glyphicon-thumbs-up"></span> Create Authors
        <% end %>
      </p>
<% end %>
    <p>
      <%= link_to logout_path, class: 'btn btn-default col-md-12', :method => 'delete' do %>
        <span class="pull-left glyphicon glyphicon-off"></span> Logout
      <% end %>
    </p>
</div>
</div>
</div>
<% end %>
