<!-- This is an Active Page and gets rendered upon after user has finished reserving a book ( gets re-directed to here) -->

<article class="reservation">
<h1>My Reservations</h1>
<ol>
	<% @reservations.each do |reservation| %>
 	<%= image_tag reservation.book.image_cover_url %>
 	<br />
  	<p><label>Book Name: </label><%= reservation.book.title %><br />
  	<p><label>Book was reserved on:</label><%= reservation.reserved_on %> <br />
  	<p><label>Book due back on:</label><%= reservation.due_on %><br />
  		<p><label>Book id:</label><%= reservation.id %><br />
  	<p><label>Book available:</label><%= reservation.book.total_in_library %><br />

  	<%= button_to 'Return Book', user_book_reservation_path(session[:user_id], reservation.book.id, reservation.id),method: :delete,data: { confirm: 'Do you want to return?' } %><br>
 	<% end %>
</ol>
</article>


<%= paginate @reservations %>

