<h1>Reservations Listing</h1>
<p>You have the following books reserved</p>
<p><label>Title:  </label><%=  @book.title  %></p>
<article class="reservation">
  <header>
    <h2><%=  %></h2>
  </header>
  <%= image_tag @reservation.book.image_cover_url %>   
  <p><label>Author:</label> <%= @reservation.book.author.name %></p>
  <p><label>Reserved On:</label> <%= @reservation.reserved_on %></p>
  <p><label>Due on:</label> <%= @reservation.due_on %></p>
  </article>
<%= button_to 'Return Book', @reservation,

               method: :delete,

               data: { confirm: 'Do you want to return?' } %>

