<h1>Reservations#show</h1>
<p>Find me in app/views/reservations/show.html.erb</p>
<% content_for :title, @book.title %>
<article class="book">
  <header>
    <h2><%= @book.title %></h2>
  </header>
  <%= image_tag @book.image_cover_url %>  
  <p><label>Abstract:</label> <%= @book.abstract %></p>
  <p><label>Pages:</label> <%= number_with_delimiter(@book.pages) %></p>
  <p><label>Genre:</label> <%= @book.genre %></p>
  <p><label>Published On:</label><%= @book.published_on %>
  <p><label>Author:</label><%= link_to @book.author.name, @book.author %> <br />
</article>
<%= button_to 'Return Book', @reservation,

               method: :delete,

               data: { confirm: 'Do you want to return?' } %>

