<h1>Authors</h1>
<!--<p>On file as of <%= formatted_time(@available_at) %></p>-->
<ol>
  <% @authors.each do |author| %>
  <%= image_tag author.image_url, :width=>100, :height=>150 %>
    <%= link_to(author.name, author) %><br><br>
  <% end %>
</ol>

<%= paginate @authors %>

<% if session[:admin] %>
<%= link_to 'New Author', new_author_path %>
<% end %>

