<% content_for :name, @author.name %>
<article class="author">

  <header>
    <h2><%= @author.name %></h2>
  </header>

  <p><label>Birthdate:   <%= @author.dob                 %></label></p>
  <p><label>Nationality: <%= @author.nationality         %></label></p>
  <p><label>Awards:      <%= @author.awards              %></label></p>
  <p><label>Biography:   <%= @author.biography           %></label></p>
  <p><label>Photo:       <%= image_tag @author.image_url %></label></p>

</article>

  <%= link_to 'All Authors', authors_path %>

| <%= link_to 'Edit', edit_author_path(@author) %>

  <%= button_to 'Delete ', @author,
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>

  <h3>Publications</h3>


<% @author.books.each do |book| %>
  <p><%= book.title %></p>
<% end %>

