<article class="book">
<h1>All Books</h1>
<ol>
  <% @books.each do |book| %>
  <%= image_tag book.image_cover_url %><br />
  <p><label>Title:</label><%= link_to(book.title, book) %> by <%= book.author.name %><br />
  <p><label>Genre:</label><%= book.genre %><br />
  <p><label>Abstract:</label><%= book.abstract %> <br />
  <p><label>Pages:</label>Total Number of pages are : <%= book.pages %><br />
  <p><label>Published On:</label>This book was published on :  <%= book.published_on %> <br />
  <p><label>Available for Reservation:</label><%=book.total_in_library %>  <br />
  	<% end %>
</ol>
</article>
<%= paginate @books %>

